{% extends 'main.html' %}

{% block content %}

<div class="container">
    <h1 class="text-center"> Login Or Registration Here </h1>
    <hr>
 <div class="text-center"><a href="{% url 'Loginpage'%}"><button type="button" class="btn btn-success" clas="text-center">Login</button></a>
    <a href="{% url 'Registrationpage'%}"><button type="button" class="btn btn-info" clas="text-center">Registration</button></a></div>
<hr><br><br><br><br>
 <h1 class="text-center"> Welcome :) </h1>



</div>


{% endblock content %}